body {
    background-color: rgb(0 0 0 / 86%);
    color: whitesmoke;
    letter-spacing: 1px;
}

.container {
    text-align: center;
    display: block;
    height: auto;
    width: auto;
}

form {
    margin-top: 150px;
}

input {
    width: 300px;
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 3px;
    border: none;
}

input[type='submit'] {
    width: auto;
    margin: auto;
    background-color: rgb(0 0 0 / 86%);
    color: whitesmoke;
}
input[type='submit']:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(255, 190, 190);
    font-size: 20px;
    font-style: bold;
}

label {
    font-size: 18px;
}

label.password {
    margin-right: 67px;
}

h2 {
    font-size: 30px;
}