html {
    scroll-behavior: smooth;
}

body {
    background: url('/Images/Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Bacasime Antique', serif;
}

header {
    background-color: rgb(0 0 0 / 86%);
    padding: 10px;
    text-align: center;
}

header img {
    height: 50px;
    width: 100px;
    filter: invert();
}

header p {
    color: white;
    font-size: 20px;
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 20px;
}

nav a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px 12px;
    border-radius: 4px;
}

nav a:hover {
    color: red;
}

nav a.active {
    color: aqua;
}

nav a.active :hover {
    color: red;
}

nav #account {
    display: flex;
    align-items: center;
}

nav #account a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    padding: 4px 8px;
    background-color: white;
    border-radius: 3px;
}



/* Search bar */
div#search {
    display: flex;
    align-items: center;
}

div#search input {
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f5f5f5;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

div#search input:focus {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Search button */
div#search button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

div#search button:hover {
    background-color: black;
    transform: scale(1.005);
}



/* Product container */

.product-container {
    color: black;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin-bottom: 20px;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.product-item {
    margin: 20px;
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    background-color: #cfcfcf;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: 185px;
}

.product-item img:hover {
    transform: scale(1.005);
}

.product-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.product-item p {
    margin-top: 5px;
    color: #777;
}

footer {
    font-family: 'Bacasime Antique', serif;
    font-style: italic;
    text-align: center;
    color: red;
    background-color: #00000052;
    padding: 5px 0px;
}